@model BLib.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.Name</h2>
@{
    var className = Model.Customer.Count > 0 ? "Popular" : null;
}

<h2 class="@className">@Model.Movie.Name</h2>

@if (Model.Customer.Count == 0)
{
    <text>No one has rented the movie.</text>
}
else
{
    <ul>
        @foreach (var customer in Model.Customer)
        {
            <li>@customer.Name</li>
        }
    </ul>
}